.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  background-color:#262932b0
}

/* .Page {
  padding: 0 0 80px;
  background-image: url("images/wht-bg.jpg");
  background-repeat: repeat;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #BBB;
  box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.25);
} */

#search, .foursquare {
  text-align: center;
  font-weight: 900;
  font-size: 16px;
  color: #f4f4f4;
  background: #0000008f;
  width: 100%;
  border: 0;
  font-family: 'Lato', sans-serif;
  padding: 8px 0;
  -webkit-box-shadow: inset 10px 15px 21px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 10px 15px 21px -8px rgba(0,0,0,0.75);
  box-shadow: inset 10px 15px 21px -8px rgba(0,0,0,0.75);
}

.sideBar {
  width: 25%;
  border: 1px solid #1e4277;
}

.venueList {
padding: 2px;
}

.listItem {
  list-style: none;
  font-size: 1rem;
  padding: 1px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  font-family: cursive;
  background-image: url("images/wht-bg.jpg");
  margin: 4px;
  color: #2f4e4e;
  cursor: pointer;
  border:3px solid #2eb9ce38;
  display: flex;
  align-items: center;
}

.listItem:hover {
color: rgb(0, 199, 199);
border:3px solid #2eb9ce;
}

li img {
  background-color: #1e79696e;
  border-radius: 17px;
  margin: 4px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (max-width: 534px) {
  .listItem {
      flex-direction: column;
  }
}


@media only screen and (max-width: 976px) {
  .listItem {
      font-size: 2vw;
  }
}

@media only screen and (max-width: 976px) {
  .listItem img {
      width: 3vw;
  }
}

@media only screen and (max-width: 534px) {
  .listItem img {
    width: 5vw;
  }
}